<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decryption</title>
    <link rel="stylesheet" href=""{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Decryption</h1>
        <div class="form-group">
            <label for="decryption-technique">Select Decryption Technique:</label>
            <select id="decryption-technique">
                <option value="rsa">RSA</option>
                <option value="aes">AES</option>
                <option value="des">DES</option>
                <option value="sha256">SHA-256</option>
                <option value="sha512">SHA-512</option>
                <option value="md5">MD5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ciphertext">Enter Ciphertext:</label>
            <input type="text" id="ciphertext">
        </div>
        <button onclick="decrypt()">Decrypt</button>
        <a href="index.html" class="back-button">Back</a>
        <div id="plaintext-container"></div>
    </div>

    <script src="script.js"></script>
</body>
</html>
